{% extends "base.html" %}
{% block content %}
<div>

  <h4><a href="/groups/{{event.group.data.id}}">{{event.group.data.name}}</a></h4>
  <h2>{{event.event.data.name}}</h2>
  {{event.formatted-date}}, {{event.formatted-time}} (on <a href="http://www.meetup.com/{{event.group.data.urlname}}/events/{{event.event.data.id}}">meetup.com</a>)
  <hr />
  <div class="row">
    <div class="col-md-2"><p class="lead">Who's going?</p></div>
    <div class="col-md-2"><p class="lead">{{event.numberOfRSVPs}}</p></div>

    <div class="col-md-12">

      <ul class="col-5">

        {% for row in event.rsvps %}
          <li>
            {% if row.friends %}
              <strong>
            {% endif %}
            <a href="/users/{{row.person.data.id}}">{{row.person.data.name}}</a>
            {% if row.friends %}
            </strong>
            {% endif %}
          </li>
        {% endfor %}
      </ul>

   </div>



  </div>





</div>
{% endblock %}
