{% extends "base.html" %}
{% block content %}
<div>

Logged in as <a href="/users/{{person.member.data.id}}">{{person.member.data.name}}</a>

  <h4>Suggested Groups</h4>

  <ul class="col-3">
    {% for row in suggested-groups %}
    <li class="col-3" style="height:100px;padding: 3px 0px 3px 0px;">
      <div>
        <p>
          <strong><a href="/groups/{{row.otherGroup.data.id}}">{{row.otherGroup.data.name }}</a></strong>
        </p>
        <p>
         {{row.topics}} topic{{row.topics|pluralize}} / {{row.numberOfMembers}} members / {{row.recentEvents}} recent event{{row.recentEvents|pluralize}}
        </p>
        <p>
          {{row.score}}
        </p>

      </div>

    </li>
  {% endfor %}
  </ul>

  <hr />

  <h4>Suggested Events</h4>

 <table class="table">
         <thead>
           <th width"20%">Event</th>
           <th width="7%">Events</th>
           <th width="10%">Topics</th>
           <th width="20%">Friends</th>
           <th width="20%">Date</th>
         </thead>
         <tbody>
             {% for row in suggested-events-3 %}
               <tr>
                 <td>
                   <p class="lead"><a href="/events/{{row.futureEvent.data.id}}">{{row.futureEvent.data.name}}</a></p>
                   <p><a href="/groups/{{row.group.data.id}}">{{row.group.data.name }}</a> {% if row.isMember %}
                     <img src="img/true.png" width="15px">
                   {% else %}
                     <img src="img/false.png"  width="15px">
                   {% endif %}</P>
                 </td>

                 <td>
                   {{row.previousEvents}}
                 </td>
                 <td>
                   {{row.topics}}
                 </td>
                 <td>
                   <p><strong>{{row.friendsGoing}}</strong></P>

                   {%for friend in row.friends %}
                    <a href="/users/{{friend.data.id}}">{{ friend.data.name }}</a>
                   {% endfor %}

                 </td>
                 <td>
                   <p>{{row.formatted-date}}, {{row.formatted-time}} </p>
                   <p>({{row.how-long}} days)</P>
                 </td>
               </tr>
             {% endfor %}
         </tbody>
       </table>


</div>
{% endblock %}
