html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    padding-top: 40px;
}
{% if cljs %}
@-moz-keyframes three-quarters-loader {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes three-quarters-loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes three-quarters-loader {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/* :not(:required) hides this rule from IE9 and below */
.three-quarters-loader:not(:required) {
    -moz-animation: three-quarters-loader 1250ms infinite linear;
    -webkit-animation: three-quarters-loader 1250ms infinite linear;
    animation: three-quarters-loader 1250ms infinite linear;
    border: 8px solid #38e;
    border-right-color: transparent;
    border-radius: 16px;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-indent: -9999px;
    width: 32px;
    height: 32px;
}
{% endif %}

ul.topics {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.topics {
    display: inline-block;
		padding: 3px;
		margin-bottom: 3px;
		width: 160px;
}

li.topics:nth-child(odd) { background: #DCDCDC; }

ul.col-3 {
	columns: 3;
 -webkit-columns: 3;
 -moz-columns: 3;
 list-style-type: none;
 margin: 0;
 padding: 0;
}

ul.col-5 {
	columns: 5;
 -webkit-columns: 5;
 -moz-columns: 5;
 list-style-type: none;
 margin: 0;
 padding: 0;
}

li.col-3, li.col-5  {
    -webkit-column-break-inside: avoid;
}
